* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.section-question__container-input::before {
  content: '$ ';
}
.section-question__container--amount {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}